body
{
	background-color: rgb(204, 255, 204);
	font-size: 20px;
	background-size: contain;
}

button
{
	border: none;
	background-color: #4CAF50;
	text-align: center;
	color: white;
	padding: 15px 32px;
	font-size: 25px;
	cursor: pointer;	
}

.btn-container
{
	text-align: center;
}
button:hover
{
	background-color: #2f6a31;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
ul.text
{
	list-style-type: square;
}
.content
{
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 10px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
